* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  max-width: 320px;
  height: 85vh;
  margin: 4rem auto;
  border-radius: 30px;
  padding: 0.5rem;
  border: 1.5px solid #000;
}
.output {
  height: 25%;
  border-radius: 30px 30px 0 0;
  margin-bottom: 0.5rem;
}
.top {
  display: flex;
  width: 75%;
  margin-bottom: 0.5rem;
}
.top .btn {
  background: #000;
  color: #fff;
}
.btn {
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border-radius: 100%;
  text-align: center;
  /* justify-content: center; */
  margin: 0.5rem;
}
.left {
  width: 25%;
  position: relative;
  left: 77%;
  margin-top: -4rem;
  height: 55vh;
  padding: 0.3rem 0.2rem;
}
.left .btn {
  background: red;
  color: #fff;
  margin: 0 0 1.5rem 0;
}
.right {
  width: 73%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -20.5rem;
  height: 45vh;
}
.right .btn {
  background: silver;
}

.box {
  width: 100%;
  height: 5vh;
  padding: 2rem 1rem 1.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 20px;
}
.result {
  border-top: 1px solid #000;
  width: 100%;
  height: 12vh;
  padding: 1rem;
  font-size: 25px;
  font-weight: 500;
}
